services:
  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data 
    networks:
      - proxy_net
    ports:
      - 9000:9000

volumes:
  portainer_data:

networks:
  proxy_net:
    external: true