services:
  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data 
    ports:
      - 9000:9000
      - 9443:9443
    dns:
      - 192.168.2.1

volumes:
  portainer_data: