services:
  portainer:
    image: portainer/portainer-ce:latest
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data 
    networks:
      - proxy_net
    environment:
      - TRUSTED_ORIGINS=http://portainer.dome-iq.net

volumes:
  portainer_data:

networks:
  proxy_net:
    external: true